.details-control {
    cursor: pointer;
    width: 30px;
    text-align: center;
}

    .details-control::before {
        content: '+';
        display: inline-block;
        font-size: 16px;
    }

tr.shown .details-control::before {
    content: '-';
}

.card {
    margin: 10px 0;
}

.event-item {
    margin-bottom: 20px;
}

.actions {
    margin-top: 10px;
}

.details-container {
    margin-top: 10px;
}
