@model EventHub.Core.Entities.Event

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><small>@Model.StartDate.ToString("d")</small></p>
    </div>
</div>